header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    width: 100%;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{
    margin: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(4, 54, 4);
}
img{
    width: 250px;
}
h1{
    font-size: 50px;
    color: rgb(8, 145, 8);
    font-family: 'Times New Roman', Times, serif;
}
.contenedor{
    width: 100%;
    height: 100%;
    background-color: rgb(160, 218, 160);
    justify-content: center;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
.contenedor img{
    display: block;
    margin: 0 auto;
}
.youtube{
    background-color: rgb(82, 138, 101);
    display: flex;
    justify-content: center
}
.youtube iframe{
    width: 560px;
    height: 315px;
}
.footer{
    text-align: center;
    background-color: rgb(81, 100, 47);
    padding: 20px 0;
    margin: 0 auto;
}